
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.34375em;
}

.a:hover{

}

.mat-raised-button[_ngcontent-cnd-c102], .mat-fab[_ngcontent-cnd-c102], .mat-mini-fab[_ngcontent-cnd-c102] {
  color: #fff;
  background-color: #2b5feb !important;
}

