::ng-deep .mat-checkbox-frame {
  border-color: rgba(43,95,235,1);
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: rgba(43,95,235,1)!important;
  }
}

::ng-deep .mat-checkbox-checkmark-path {
  stroke: #ffffff !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(43,95,235,1);
}
::-webkit-scrollbar-thumb {
  background: rgba(43,95,235,1);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.mat-pink {
  background-color: rgba(43,95,235,1);
}

::ng-deep .mat-spinner circle {
  stroke: rgba(43,95,235,1);
}

::ng-deep .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: rgba(43,95,235,1) !important;
}
